/* @media(max-width:667px){
    .menu_container{
        display: block;
    }
    .menu_container img{
        width: 200px;
        height: 100px;
     }
    .highlights{
        display: none;
    }
    .lines_boxs{
        display: none;
    }
    #line2{
        display:none;
    }
    footer{
        height: 5vh;
        width: 50vw;
    }
    
} */