.creators{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

img{
    width: 15vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.creatorOne{
    display: flex;
}

.creators h1 {
    width: 25vw;
    font-size: 2.5rem;
    color: #000;
    display: flex;
    
}

.creators p{
    font-size: 2rem;
    text-align: center;
    width: 75vw;
}

.creatorOne a{
    width: 65vw;
    color: #000;
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
}
.creators a:hover{
    content: "";
    color: #fff;
}

.creatorSecond{
    display: flex;
    
}

.creatorSecond a{
    width: 60vw;
    color: #000;
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
}

