#characters {
    height: 75vh;
    width: 100vw;
    display: flex;  
    
}

.container_characters{
    height: 75vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
   
.circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.simpsons{
    width: 7vw;
    height: 12vh;
    border-radius: 100%;
}

.simpsons:hover{
    content: "";
    border: 1px solid var(--primary-color);
}

.name{
    font-size: 2rem;
    color: var(--primary-color);
}
.name:hover{
    content: "";
    color: #000;
}

