.character{
    height: 70vh;
    width: 90vw;
    display: flex;
    justify-content: space-around;
}

.famous{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.famous h3{
    color: var(--primary-color);
}

.line{
    width: 17.5vw;
    height: 0.5vh;
    background-color: white;
}

.quotes{
    width: 30vw;
    
    text-align: end;
    display: flex;
}

