.personage{
    height: 70vh;
    width: 90vw;
    display: flex; 
}

.allPersonage{
    height: 70vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionPersonage{
    height: 70vh;
    width: 52vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.descriptionPersonage h3{
    width: 15vw;
    color: gray;
    display: flex;
    justify-content: center;
}   
.line{
    width: 15vw;
    height: 0.5vh;
    background-color: #fff;
    
}

.descriptions{
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.physical{
    width: 50vw;
    height: 20vh;
    display: flex;
    gap: 4px;
}
.phrase{
    width: 30vw;   
    text-align: start;
}

.personageImg{
    width: 400px;
    height: 400px;
    border-radius: 15%;
}

